#Open Fall Detector

##To do
Implement a classificator based on MobileNetV2 or another light CNN architecture to extract features from Multicam and URFall datasets. Feed the features to a LSTM network with visual attention mechanism to classify features in ADL, falling and lying down categories.


1.   Create dataframe with classes for Multicam in order to split dataset in subfolders
2.   Split URFall in one folder per class
3.   Choose the optimal lightweight yet performing CNN wich is convertible to Tensorflow.js and train it
4. Understand how to implement the visual attention mechanism for the LSTM
5. Understand how to feed LSTM with features extracted by the CNN

In [1]:
import pandas as pd
import numpy as np

In [4]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

##1: Preprocessing Multicam

In [11]:
multicam_data_path = '/gdrive/MyDrive/Colab Notebooks/open_fall_detector/multicam.xlsx'
delay_frames = pd.read_excel(multicam_data_path, sheet_name='delay_frames')
delay_frames.head()

   scenario_number  camera_1  camera_2  ...  camera_6  camera_7  camera_8
0                1         3         3  ...         6         6         0
1                2        25        40  ...        33        33         6
2                3        12        16  ...        20        20         0
3                4        72        79  ...        82        83        56
4                5        17        24  ...        26        28         0

[5 rows x 9 columns]